.Vue-Toastification__toast {
  padding: 0;
  border-radius: 5px; /*22px*/
  border: 1px solid #616161;
  min-height: auto;
  min-width: 120px;
  box-shadow: none;
  &--error, &--success, &--warning, &--info {
    background-color: #fff;
  }
  &--error {
    color: #FF5252;
  }
  &--success {
    color: #7CB342;
  }
  &--warning {
    color: #FF7043;
  }
  &--info {
    color: #1E88E5;
  }
}
.Vue-Toastification__toast-body {
  padding: 7px 15px;
  font-size: 0.8em;
  text-align: center;
  vertical-align: baseline;
}
.Vue-Toastification__progress-bar {
  background-color: rgba(255, 255, 255, 0.4)
}


