.Vue-Toastification__toast {
  padding: 0;
  border-radius: 5px; /*22px*/
  border: 1px solid #616161;
  min-height: auto;
  min-width: 120px;
  box-shadow: none;
}
.Vue-Toastification__toast-body {
  padding: 7px 15px;
  //color: #222;
  font-size: 0.8em;
  //font-weight: bold;
  text-align: center;
  vertical-align: baseline;


}
.Vue-Toastification__progress-bar {
  background-color: rgba(255, 255, 255, 0.4)
}
.Vue-Toastification__toast--success {
  //background-color: #B2FF59;
  background-color: #fff;
  color: #7CB342 !important;
}

.Vue-Toastification__toast--error {
  background-color: #B2FF59;
}

